@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "First";
}
<h2>First</h2>
<p>data: @ViewData["data"]</p>
<p>hash: @ViewData["hash"]</p>
<a asp-action="Second">to Second page</a>
