@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Second";
}
<h2>Second</h2>
<p>data: @ViewData["data"]</p>
<p>hash: @ViewData["hash"]</p>
<a asp-action="First">to First page</a>
